<head>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Chalk&Track - Profile</title>

    <link rel="stylesheet" href="/static/css/palette.css" type="text/css">

    <link rel="stylesheet" href="/static/css/body.css" type="text/css">

    <!-- Save username in the local browser data -->
    <script src="/static/js/profile/username.js" defer></script>
</head>

<!-- Background grain -->
<div class="background_color"></div>
<div class="grain"></div>

<body>
    <!-- User selector -->
    <p>&emsp;</p>
    <div class="userBar">
        <div class="userLabel">
            <a>Nome utente:</a>
        </div>
        <div class="usernameWrapper">
            <input type="text" id="usernameInput" class="flex-input" placeholder="Scrivi il tuo nome" onchange="saveUsername()">
        </div>
    </div>
</body>






