
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit
}

b {
    font-weight: bolder
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

img,
object {
    display: block;
    max-width: 100%;
    height: auto
}

.absolute {
    position: absolute
}



.inset-0 {
    inset: 0
}

.-bottom-2 {
    bottom: -.5rem
}

.-left-4 {
    left: -1rem
}

.-right-2 {
    right: -.5rem
}

.bottom-0 {
    bottom: 0
}

.top-0 {
    top: 0
}

.top-1\/2 {
    top: 50%
}

.z-10 {
    z-index: 10
}

.z-50 {
    z-index: 50
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-4 {
    margin-top: 1rem
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-16 {
    height: 4rem
}

.h-32 {
    height: 8rem
}

.h-4 {
    height: 1rem
}

.h-full {
    height: 100%
}

.w-10 {
    width: 2.5rem
}

.w-12 {
    width: 3rem
}

.w-16 {
    width: 4rem
}

.w-32 {
    width: 8rem
}

.w-4 {
    width: 1rem
}

.w-full {
    width: 100%
}

.flex-1 {
    flex: 1 1 0%
}

.shrink-0 {
    flex-shrink: 0
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-10 {
    gap: 2.5rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-8 {
    gap: 2rem
}



.overflow-hidden {
    overflow: hidden
}

.border {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-l-4 {
    border-left-width: 4px
}

.border-t {
    border-top-width: 1px
}

.border-dashed {
    border-style: dashed
}

.border-\[\#292c2f\]\/20 {
    border-color: rgb(41 44 47 / .2)
}

.border-outline-variant\/10 {
    border-color: rgb(70 72 74 / .1)
}

.border-outline-variant\/20 {
    border-color: rgb(70 72 74 / .2)
}

.border-outline-variant\/30 {
    border-color: rgb(70 72 74 / .3)
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(244 115 33 / var(--tw-border-opacity, 1))
}

.border-secondary {
    --tw-border-opacity: 1;
    border-color: rgb(73 78 161 / var(--tw-border-opacity, 1))
}

.border-secondary\/20 {
    border-color: rgb(73 78 161 / .2)
}

.bg-\[\#0c0e10\] {
    --tw-bg-opacity: 1;
    background-color: rgb(12 14 16 / var(--tw-bg-opacity, 1))
}

.bg-\[\#111416\]\/90 {
    background-color: rgb(17 20 22 / .9)
}

.bg-\[\#1d2022\] {
    --tw-bg-opacity: 1;
    background-color: rgb(29 32 34 / var(--tw-bg-opacity, 1))
}

.bg-background {
    --tw-bg-opacity: 1;
    background-color: rgb(12 14 16 / var(--tw-bg-opacity, 1))
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(244 115 33 / var(--tw-bg-opacity, 1))
}

.bg-primary\/5 {
    background-color: rgb(244 115 33 / .05)
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(73 78 161 / var(--tw-bg-opacity, 1))
}

.bg-surface-bright {
    --tw-bg-opacity: 1;
    background-color: rgb(41 44 47 / var(--tw-bg-opacity, 1))
}

.bg-surface-container {
    --tw-bg-opacity: 1;
    background-color: rgb(23 26 28 / var(--tw-bg-opacity, 1))
}

.bg-surface-container-high {
    --tw-bg-opacity: 1;
    background-color: rgb(29 32 34 / var(--tw-bg-opacity, 1))
}

.bg-surface-container-highest {
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 41 / var(--tw-bg-opacity, 1))
}

.bg-surface-container-low {
    --tw-bg-opacity: 1;
    background-color: rgb(17 20 22 / var(--tw-bg-opacity, 1))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.object-cover {
    object-fit: cover
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom: .125rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.font-\[\'Space_Grotesk\'\] {
    font-family: 'Space Grotesk'
}

.font-body {
    font-family: Manrope
}

.font-headline {
    font-family: Space Grotesk
}

.font-label {
    font-family: Space Grotesk
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-\[10px\] {
    font-size: 10px
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.font-medium {
    font-weight: 500
}

.uppercase {
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.leading-tight {
    line-height: 1.25
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-tighter {
    letter-spacing: -.05em
}

.tracking-widest {
    letter-spacing: .1em
}

.text-\[\#F47321\] {
    --tw-text-opacity: 1;
    color: rgb(244 115 33 / var(--tw-text-opacity, 1))
}

.text-\[\#f9f9f9\] {
    --tw-text-opacity: 1;
    color: rgb(249 249 249 / var(--tw-text-opacity, 1))
}

.text-\[\#f9f9f9\]\/60 {
    color: rgb(249 249 249 / .6)
}

.text-on-secondary {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-on-surface {
    --tw-text-opacity: 1;
    color: rgb(238 238 240 / var(--tw-text-opacity, 1))
}

.text-on-surface-variant {
    --tw-text-opacity: 1;
    color: rgb(170 171 173 / var(--tw-text-opacity, 1))
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(244 115 33 / var(--tw-text-opacity, 1))
}

.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(73 78 161 / var(--tw-text-opacity, 1))
}

.opacity-0 {
    opacity: 0
}

.ring-white {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity, 1))
}

.grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.duration-150 {
    transition-duration: 150ms
}

.duration-200 {
    transition-duration: .2s
}

.duration-500 {
    transition-duration: .5s
}

.hover\:border-primary\/50:hover {
    border-color: rgb(244 115 33 / .5)
}

.hover\:bg-\[\#1d2022\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 32 34 / var(--tw-bg-opacity, 1))
}

.hover\:bg-surface-bright:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(41 44 47 / var(--tw-bg-opacity, 1))
}

.hover\:text-secondary:hover {
    --tw-text-opacity: 1;
    color: rgb(73 78 161 / var(--tw-text-opacity, 1))
}

.hover\:underline:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.hover\:ring-1:hover {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.active\:scale-90:active {
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.active\:scale-95:active {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(244 115 33 / var(--tw-bg-opacity, 1))
}

.group:hover .group-hover\:text-on-primary {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

.group:hover .group-hover\:grayscale-0 {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width:768px) {
    .md\:h-40 {
        height: 10rem
    }

    .md\:w-40 {
        width: 10rem
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:items-end {
        align-items: flex-end
    }

    .md\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }
}

@media (min-width:1024px) {
    .lg\:col-span-2 {
        grid-column: span 2/span 2
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}



/* Header */

.relative {
    position: relative
}

.profile-image-container {
    position: relative;
    margin: 2rem;
    width: 8rem;
    height: 8rem;
    background-color: var(--dark);

    display: flex;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-tag {
    /* Positioning */
    position: absolute; 
    bottom: -0.75rem;
    right: -1rem;
    
    /* Container */
    background-color: var(--primary); 
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;

    /* Text */
    color: var(--very-light);
    font-style: italic; 
    font-weight: 700;
    font-family: Space Grotesk ;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .1em;
}

.profile-color-selector {
    /* Positioning */
    position: absolute; 
    left: -1.5rem;
    
    display: flex;
    flex-direction: column;

    /* Container */
    background-color: var(--very-dark);
    padding-left: .50rem;
    padding-right: .50rem;
    padding-top: .50rem;
    padding-bottom: .50rem;

    /* Button */
    border: none;
}

.profile-color-active {
    width: 2rem;
    height: 2rem;
    background-color: var(--user-color-1);
}

.profile-color-customize {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--very-light);
}

.username-input {
    /* Button */
    border: none;
    outline: none;

    /* Text */
    color: var(--primary-light);
    font-family: Space Grotesk;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: -.05em;

    /* Positioning */
    box-sizing: border-box;
    width: 100%;
    transform: translate(0,-.5rem);

    /* Container */
    background-color: transparent;
    padding-left: 1rem;
}

.username-container {
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 2;

    height: 5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-left: 4px solid var(--secondary);
}

.edit-user {
    position: absolute;
    right: 1rem;
    align-self: center;
}

.user-title {
    transform: translate(0,.5rem);
}

.username-input::placeholder {
    color: var(--medium);
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
    vertical-align: middle;
    align-self: center;
}

.score-container {
    display: grid;
    grid-template-rows: 2;
    transform: translate(1rem,3.4rem);
}

.score {
    color: var(--very-light);
    margin: 0;
    font-style: italic;
}

.score-unit {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    transform: translate(0,-1.2rem);
}

/* Stats */

.stat-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.cell-grid {
    background-color: var(--dark);
    color: var(--very-light);
    display: grid;
    grid-template-rows: 2;
    height: 8rem;
    border-left: 4px solid var(--secondary);
}

.cell-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .75rem;
    
    padding-left: 1rem;
}

.cell-value {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-light);
    margin: 0;
}