body {
    touch-action:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3 {
    margin: 0;
    margin-bottom: 5px;
}

.slider {
    margin: 5px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 30px; /* Specified height */
    background: transparent;
    border: 2px solid white;
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: white; /* Green background */
}

.tableSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.step {
    display: none;
    width: 99%;
    max-width: 500px;
    padding: 10px;
}

img#routeImage {
    max-width: 99%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
}

button {
    width: 100%;
}

input, textarea, select {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 8px;
    font-size: 24px;
}


#holdContainer{
    position:relative;
}

#delete_hold{
    display:none;
}

.hold{
    position:absolute;
    width:24px;
    height:24px;
    border-radius:50%;
    transform:translate(-50%,-50%);
}

.selected{
    outline: 1px solid rgb(255, 255, 255);
}

.start{ background:rgba(0, 255, 13, 0.3); }
.middle{ background:rgba(0, 162, 255, 0.3); }
.top{ background:rgba(255, 174, 0, 0.3); }