<head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalaEnrosadira - Finalizza blocco</title>

    <link rel="stylesheet" href="/static/css/body.css" type="text/css">
    <link rel="stylesheet" href="/static/css/input.css" type="text/css">
</head>

<h3>Nome e Descrizione</h3>

<form method="POST" enctype="multipart/form-data">

    <input type="text" id="routeName" name="routeName" placeholder="Nome della via" required>

    <textarea id="routeDescription" name="routeDescription" rows="4" placeholder="Descrizione della via"></textarea>

    <label id="routeAuthor">Anonimo</label>
    
    <div class="controls">
        <button id="finish">Salva</button>
    </div>
    
    <input type="hidden" id="routeAuthorHidden" name="routeAuthor">
</form>

<script>
    const authorLabel = document.getElementById('routeAuthor');
    const authorInput = document.getElementById('routeAuthorHidden');

    let author = localStorage.getItem('boulderUsername');
    if (author != null) {
        authorLabel.textContent = author;
        authorInput.value = author;
    }
</script>