<head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalaEnrosadira - Visualizza blocco</title>

    <link rel="stylesheet" href="/static/css/body.css" type="text/css">
    <link rel="stylesheet" href="/static/css/input.css" type="text/css">
    <link rel="stylesheet" href="/static/css/return_button.css" type="text/css">
    
    <link rel="stylesheet" href="/static/css/holds.css" type="text/css">
    <link rel="stylesheet" href="/static/css/view.css" type="text/css">

    <!-- Holds viewer -->
    <script src="/static/js/holds_handler.js" defer></script>
    <script src="/static/js/holds_viewer.js" defer></script>
    <script src="/static/js/route_property_checker.js" defer></script>
</head>

<!-- Background grain -->
<div class="background_color"></div>
<div class="grain"></div>

<body>
    <div class="container">
        <div class="title">
            <h1>{{route["route_name"]}}</h1>
            <h2 class="author">Tracciatore: {{route["author"]}}</h2>
            <a>{{route["creation_date"]}}</a>
        </div>
        <p>&emsp;</p>        
        <div class="description">
            <a>{{route["route_description"]}}</a>
        </div>
    </div>
    <div id="holdContainer" style="position:relative;">
      <img id="routeImage" src={{route["image_url"]}} alt="Foto via">
    </div>

    <h2>Legenda:</h2>
    <div class="legend">

        <div class="legend-column">
            <div class="legend-item">
                <span class="dot start"></span>
                <span class="label">Start</span>
            </div>

            <div class="legend-item">
                <span class="dot middle"></span>
                <span class="label">Middle</span>
            </div>

            <div class="legend-item">
                <span class="dot zone"></span>
                <span class="label">Zona</span>
            </div>

            <div class="legend-item">
                <span class="dot top"></span>
                <span class="label">Top</span>
            </div>
        </div>
        <div class="legend-column">
            <div class="legend-item">
                <span class="use_character">P</span>
                <span class="label">Piede</span>
            </div>

            <div class="legend-item">
                <span class="use_character">NV</span>
                <span class="label">No volume</span>
            </div>

            <div class="legend-item">
                <span class="use_character">SV</span>
                <span class="label">Solo volume</span>
            </div>

            <div class="legend-item">
                <span class="use_character">SM</span>
                <span class="label">Solo mani</span>
            </div>

            <div class="legend-item">
                <span class="use_character">SP</span>
                <span class="label">Solo piedi</span>
            </div>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        <div class="authorButtons" id="authorButtons">
            <h2>Sei l'autore di questo blocco:</h2>
            <p>&emsp;</p> 
            <button id="editButton" name="authorName">Modifica Nome e Descrizione</button>
            <button id="editButton" name="authorHolds">Modifica Prese</button>
            <button id="deleteButton" name="authorDelete">Elimina Blocco</button>
            <div class="spacer"></div>
        </div>
    </form>

    <div class="back">
        <button onclick="window.location.href='/';">Torna alla pagina iniziale</button>
    </div>
</body>

<script>
    let holds = {{ holds | tojson }}
    const routeAuthour = "{{ route['author'] }}"
</script>