<head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PalaEnrosadira - Visualizza blocco</title>

    <link rel="stylesheet" href="/static/css/body.css" type="text/css">
    <link rel="stylesheet" href="/static/css/input.css" type="text/css">
    <link rel="stylesheet" href="/static/css/return_button.css" type="text/css">
    
    <link rel="stylesheet" href="/static/css/holds.css" type="text/css">
    <link rel="stylesheet" href="/static/css/view.css" type="text/css">

    <!-- Holds viewer -->
    <script src="/static/js/holds_handler.js" defer></script>
    <script src="/static/js/holds_viewer.js" defer></script>
    <script src="/static/js/route_property_checker.js" defer></script>
</head>

<!-- Background grain -->
<div class="background_color"></div>
<div class="grain"></div>

<body>
    <div class="container">
        <div class="title">
            <h1>{{route[1]}}</h1>
            <h2 class="author">Tracciatore: {{route[2]}}</h2>
            <a>{{route[5]}}</a>
        </div>
        <p>&emsp;</p>        
        <div class="description">
            <a>{{route[4]}}</a>
        </div>
    </div>
    <div id="holdContainer" style="position:relative;">
      <img id="routeImage" src={{route[3]}} alt="Foto via">
    </div>

    <h2>Legenda:</h2>
    <div class="legend">

        <div class="legend-column">
            <div class="legend-item">
                <span class="dot start"></span>
                <span class="label">Start</span>
            </div>

            <div class="legend-item">
                <span class="dot middle"></span>
                <span class="label">Middle</span>
            </div>

            <div class="legend-item">
                <span class="dot top"></span>
                <span class="label">Top</span>
            </div>
        </div>
        <div class="legend-column">
            <div class="legend-item">
                <span class="use_character">M</span>
                <span class="label">Solo mani</span>
            </div>

            <div class="legend-item">
                <span class="use_character">P</span>
                <span class="label">Solo piedi</span>
            </div>
        </div>
    </div>

    <div class="authorButtons" id="authorButtons">
        <h2>Sei l'autore di questo blocco:</h2>
        <p>&emsp;</p> 
        <button type="button" id="editButton">Modifica Nome e Descrizione</button>
        <button type="button" id="editButton">Modifica Prese</button>
        <button type="button" id="deleteButton">Elimina Blocco</button>
        <div class="spacer"></div>
    </div>

    <div class="back">
        <button onclick="window.location.href='/';">Torna alla pagina iniziale</button>
    </div>
</body>

<script>
    let holds = {{ holds | tojson }}
    const routeAuthour = "{{ route[2] }}"
</script>